{% extends 'base.html' %}
{% block content %}
<h1>Hello World</h1>
<h3>install successfully</h3>
</br>
<div class="row">
   {% for post in posts %} 
<div class="card" style="width: 16rem; padding:5px; margin:5px;">
    <img height="200" width="200" src="{{post.image_url}}" class="card-img-top" alt="Post Image">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.story|slice:"0:50"}}...</p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{post.created_at}}</small>
    </div>

    
{% endfor %}{% endblock%}